.thumbs-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 16px;
}

.thumb {
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid #8035c1;
  margin-bottom: 8px;
  margin-right: 8px;
  width: 100px;
  height: 100px;
  padding: 4px;
  box-sizing: border-box;
}

.thumb-inner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.thumb img {
  display: block;
  width: auto;
  height: 100%;
}

.upload-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8px;
  line-height: 1.4;
  color: white;
}

.browse-file {
  color: #8035c1;
}
