.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  width: 98vw;
  height: 90vh;
}

.heading {
  color: white;
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 30px;
  }
}
